html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/img/whitey.png');
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #000000;
  padding: 15px;
  min-width: 900px;
}

a {
  color:#FF7711;
  font-weight:700;
  text-decoration:none;
}

a:hover {
  text-decoration: none;
  color: #FFAA11;
}

a img {
  border:0;
}

pre {
  background-color: #222222;
}

code {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  border: none;
}

/* Layout CSS */
#wrapper {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 30px;
}

#footer {
  position: relative;
  margin-top: -30px;
  height: 30px;
  clear: both;
  
  text-align: center;
}

#banner a {
  color: #111111;
  text-shadow: 1px 1px 1px #999999;
}

#banner h6 {
  text-shadow: 1px 1px 1px #FFFFFF;
}

/* Widget CSS */
.widget h3 {
  text-shadow: 1px 1px 1px #CCCCCC;
}

#recent {
  list-style: none;
  margin-left: 0;
}

/* Twitter Bootstrap Overrides */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}